.video-gallery {
    text-align: center;
    padding: 60px;
  
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    &__grid {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }
  
    &__item {
      flex: 1 1 calc(33.333% - 30px); 
      box-sizing: border-box;
      margin-bottom: 20px;
    }
  
    &__iframe {
      width: 100%;
      height: 200px;
      border-radius: 8px;
    }
  
    &__button {
      background-color: #FCC0BF;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      border-radius: 4px;
      margin-top: 20px;
    }
  
    &__button:hover {
      background-color: #B9EBE9;
    }
  }
  