.experiences {
  text-align: center;
  height: 1200px;

  &__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  &__card {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    text-align: left;
    width: 400px;
    height: 500px;

    &-title {
      font-size: 1.25rem;
      margin: 1rem 0;
    }

    &__description {
      font-size: 1rem;
      padding: 0 1rem;
      margin-bottom: 1rem;
      padding-bottom: 20px;
    }

    &__price  {
      font-size: 1rem;
      font-weight: bold;
      padding: 0 1rem 1rem;

    }

    &__image {
      width: 100%;
      height: 200px;
    }
  }
}

.experiences__price {
  padding-top: 30px;
}


.experiences__card img {
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
    filter: blur(2px); /* Add blur effect */
  }
}